{% extends "catalogo/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de clientes de Gamers Computers</h1>
    <a href="{% url 'crear_cliente' %}">Crear Cliente</a>

    <br><br>
    <form action="{% url "buscar_cliente"%}" method="post">
        {% csrf_token %}
        <input type="text" name="busqueda">          
        <input type="submit" value="Buscar por apellido">
    </form> 
    <br><br>

    <ul>
    {% for cliente in clientes %}
      <li>{{ cliente.nombre }} {{ cliente.apellido }}</li>
    {% endfor %}
    </ul>
  </div>
</section>
{% endblock contenido %}